doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= page_title
    link(rel='stylesheet', href='css/main.css')
  body
    div(style="text-align:center")
      include partials/header
      block layout-content
      include partials/footer
