extends ../layout

block layout-content
  h2
    a(href="lightning:" + lud16)= lud16
  p= description
  div QR code
  br
  form(action="/.well-known/lnurlp/" + username + "/callback" method="get")
    label
      span Amount
      input(name="amount" value="1000" style="width:60px;margin:0 3px")
      span msats
    br
    input(type="submit")
